.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 1440px;
    height: 135px;
    width: 100%;
    margin: 0 auto;
    align-items: center;
}

.headerGrid {
    display: flex;
    flex-direction: row;
    align-items: center;
    max-width: 1248.0px;
    width: 100%;
    height: 62.4px;
    gap: 103px;
}

.headerLogo {
    max-width: 112px;
    width: 100%;
    height: 43px;
    display: flex;
    flex-direction: row;
    gap: 11px;
    margin: 0 auto;
    align-items: center;
    justify-content: start;
}

.burgerMenu {
    display: none;
    align-items: center;
    max-width: 32px;
    width: 100%;
    height: 23px;
    position: relative;
    cursor: pointer;
    z-index: 50;
}

.burgerMenu span {
    width: 32px;
    height: 2px;
    position: absolute;
    background-color: var(--color-light-black);
    border-radius: 15px;
}

.burgerMenu span::before, .burgerMenu span::after {
    display: block;
    position: absolute;
    height: 2px;
    width: 32px;
    content: "";
    background-color: var(--color-light-black);
    border-radius: 15px;
}

.burgerMenu span::before {
    right: 0;
    bottom: 11px;
}

.burgerMenu span::after {
    left: 0;
    top: 11px;
}

.headerLogo p {
    color: var(--purple-color-main);
    font-family: var(--font-family);
    font-size: 21.176px;
    font-style: normal;
    font-weight: 600;
}

.headerLogo img {
    display: block;
    animation: float 3s ease-in-out infinite;
}

@keyframes float {
    0%, 100% {
        transform: translateY(-2px);
    }
    50% {
        transform: translateY(2px);
    }
}

.header-menu-list {
    max-width: 696px;
    height: 27.0px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 53.486px;
    justify-content: start;
}

.header-menu-item {
    transition: transform 0.2s ease;
}

.header-menu-item:hover {
    transform: scale(1.05);
}

.header-menu-item-link {
    color: var(--color-dark-gray);
    font-family: var(--second-family);
    font-size: 17.829px;
    font-style: normal;
    font-weight: 500;
    line-height: 26.743px;
}

.login-signup {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8.914px;
    justify-content: end;
    width: 100%;
}

.loginButton {
    display: flex;
    max-width: 102.5px;
    height: 62.7px;
    width: 100%;
    padding: 17.829px 26.743px;
    border-radius: 17.829px;
    border: none;
    background-color: var(--white-color);
    cursor: pointer;
    transition: transform 0.2s ease;
    align-items: center;
}

.loginButton:hover {
    transform: scale(1.05);
}

.signUpButton {
    display: flex;
    align-items: center;
    max-width: 121.5px;
    height: 62.7px;
    width: 100%;
    padding: 17.829px 26.743px;
    border-radius: 17.829px;
    border: none;
    background-color: var(--purple-color-main);
    cursor: pointer;
    transition: transform 0.2s ease;
}

.signUpButton:hover {
    transform: scale(1.05);
}

.loginButtonLink {
    color: var(--color-dark-gray);
    font-family: var(--second-family);
    font-size: 17.829px;
    font-style: normal;
    font-weight: 700;
    line-height: 26.743px;
}

.signUpButtonLink {
    color: var(--white-color);
    font-family: var(--second-family);
    font-size: 17.829px;
    font-style: normal;
    font-weight: 700;
    line-height: 26.743px;
}

.line {
    max-width: 1248px;
    width: 98%;
    height: 1px;
    margin-top: 24px;
    background-color: var(--color-light-gray);
}

@media (max-width: 1024px) {
    .line {
        max-width: 886.0px;
    }

    .headerGrid {
        max-width: 887px;
        gap: 73px;
        height: 45px;
    }

    .headerLogo {
        max-width: 79px;
    }

    .headerLogo img {
        width: 32px;
        height: 30px;
    }

    .headerLogo p{
        font-size: 15.058px;
        line-height: 130%;
    }

    .header-menu-list {
        max-width: 489px;
    }

    .header-menu-item-link {
        font-size: 12.678px;
    }

    .loginButton {
        width: 73.0px;
        height: 45.4px;
    }

    .loginButtonLink {
        font-size: 12px;
    }

    .signUpButton {
        width: 86.0px;
        height: 45.4px;
        border-radius: 12px;
        padding: 12.678px 19.017px;
    }

    .signUpButtonLink {
        font-size: 12px;
    }
}

@media (max-width: 710px) {
    .line {
        max-width: 550.0px;
    }


    .headerGrid {
        max-width: 550px;
        height: 35px;
        position: relative;
        margin: 0;
    }

    .burgerMenu {
        display: flex;
        position: absolute;
        right: 2%;
    }

    .burgerMenu.active span {background-color: var(--white-color);}

    .burgerMenu.active::before {
        background-color: var(--white-color);
    }

    .burgerMenu.active::after {
        background-color: var(--white-color);
    }

    .header-menu-list.open {
        display: flex !important;
        flex-direction: column;
        position: fixed;
        right: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: var(--color-light-black);
        justify-content: center;
        align-items: center;
        z-index: 20;
    }

    .header-menu-item-link {
        color: var(--purple-color-main);
    }

    .headerLogo {
        width: 112px;
        margin: 0;
    }

    .headerLogo img {
        width: 45px;
        height: 42px;
    }

    .headerLogo p{
        font-size: 21.176px;
    }


    .header-menu-list {
        display: none;
    }


    .login-signup {
        display: none;
    }
}


@media (max-width: 410px) {
    .line {
        max-width: 314.0px;
    }


    .headerGrid {
        max-width: 311px;
        gap: 168px;
        height: 42px;
    }

    .headerLogo {
        max-width: 79px;
    }

    .headerLogo img {
        width: 45px;
        height: 42px;
    }

    .headerLogo p{
        font-size: 21.176px;
    }

    .header-menu-item-link {
        font-size: 12.678px;
    }

    .loginButton {
        width: 73.0px;
        height: 45.4px;
    }

    .loginButtonLink {
        font-size: 12px;
    }

    .signUpButton {
        width: 86.0px;
        height: 45.4px;
        border-radius: 12px;
        padding: 12.678px 19.017px;
    }

    .signUpButtonLink {
        font-size: 12px;
    }
}
