.mainGrid {
    height: 607px;
    display: grid;
    grid-template-columns: 568px 680px ;
    justify-content: center;
    margin: 0 auto;
    padding-top: 49px;
    align-items: center;
    padding-bottom: 85px;
}

.mainFlex {
    display: flex;
    flex-direction: column;
    width: 568.0px;
    height: 492.0px;
    justify-content: center;
    padding-right: 37px;
}

.mainFlex h1 {
    color: var(--color-light-black);
    font-family: var(--font-family);
    font-size: 75px;
    font-style: normal;
    font-weight: 600;
    line-height: 120%;
    letter-spacing: -3px;
    margin-top: 18px;
    margin-bottom: 16px;
}

.mainFlex p {
    color: var(--color-gray);
    font-family: var(--second-family);
    text-align: justify;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 28px;
    opacity: 0.7;
    margin-bottom: 53px;
}

.mainImg {
    position: relative;
}

.mainChickenHell {
    position: absolute;
    z-index: 2;
    top: 6%;
    right: 3%;
    filter: drop-shadow(-9.844px 12.305px 20.508px rgba(0, 0, 0, 0.15));

}

.mainGraph {
    position: absolute;
    z-index: 1;
    bottom: 8%;
    left: 5%;
    filter: drop-shadow(13.407px -16.759px 27.932px rgba(0, 0, 0, 0.15));

}

.usersCount {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}

.usersCount p {
    margin: 0;
    color: var(--color-dark-gray);
    opacity: 0.4;
    font-family: var(--font-family);
    font-size: 15px;
    font-style: normal;
    font-weight: 600;
    line-height: 120%;
}

.mainLine {
    width: 54.0px;
    height: 1px;
    opacity: 0.2;
    background: #201F1F;
}

.mainButtons {
    display: flex;
    flex-direction: row;
    gap: 18px;
}

.getStartedButton {
    width: 156.0px;
    height: 59.0px;
    border-radius: 12.412px;
    background: var(--purple-color-main);
    border: none;
    cursor: pointer;
    transition: all 0.2s ease;
}

.getStartedButton:hover {
    transform: scale(1.05);
}

.getStartedButtonLink {
    color: var(--white-color);
    font-family: var(--font-family);
    font-size: 16.271px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.163px;
    text-transform: capitalize;
}

.goProButton {
    width: 110.0px;
    height: 59.0px;
    background-color: var(--white-color);
    border: 1.5px solid var(--purple-color-main);
    border-radius: 12.412px;
    cursor: pointer;
    transition: all 0.2s ease;
}

.goProButton:hover {
    transform: scale(1.05);
}

.goProButtonLink {
    color: var(--purple-color-main);
    font-family: var(--font-family);
    font-size: 16.271px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.163px;
}

.trustPilotStars {
    width: 301.0px;
    height: 31.0px;
    padding-top: 33px;
    display: flex;
    flex-direction: row;
    align-items: end;
    gap: 9px;
}

.trustPilotStars p{
    margin: 0;
    color: var(--color-blue-gray);
    font-family: var(--font6);
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    opacity: 0.7;
}

.stars {
    padding-bottom: 4px;
}

.features {
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    gap: 66px;
    width: 1440px;
    height: 220.5px;
    background-image: url("/images/feauteresbg.svg");
    background-position: center;
    background-repeat: no-repeat;
}

.featuresLine1 {
    width: 123px;
    height: 1px;
    opacity: 0.15;
    background: var(--color-super-light-gray);
    transform: rotate(100grad)
}

.featuresLine2 {
    width: 123px;
    height: 1px;
    opacity: 0.15;
    background: var(--color-super-light-gray);
    transform: rotate(100grad)
}


.featuresTextFlex {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0 auto;
    gap: 11px;
    text-align: center;
}

.featuresText {
}

.featuresText h3 {
    color: var(--white-color);
    font-family: var(--font4);
    font-size: 43.2px;
    font-style: normal;
    font-weight: 700;
    line-height: 54px;
}

.featuresText p {
    color: var(--purple-color-light);
    font-family: var(--second-family);
    font-size: 14.4px;
    font-style: normal;
    font-weight: 500;
    line-height: 21.6px;
}

.downloadAppBlock {
    max-width: 1262px;
    height: 745px;
    display: block;
    text-align: center;
    margin: 0 auto;
    padding-top: 104px;
}

.downloadAppBlockGrid {
    display: grid;
    grid-template-columns: 50% 50%;
    align-items: center;
    justify-items: center;
    position: relative;
}

.downloadAppBlockText {
    display: flex;
    flex-direction: column;
}


.downloadAppBlockText h3 {
    color: var(--color-light-black);
    font-family: var(--font-family);
    font-size: 50.923px;
    font-style: normal;
    font-weight: 700;
    line-height: 58.198px;
    margin-bottom: 63px;
    text-align: start;
}

.downloadAppAdvantages ul {
    display: flex;
    flex-direction: column;
    gap: 28px;
    margin-bottom: 66px;
}

.downloadAppAdvantages li {
    color: var(--color-gray);
    display: flex;
    flex-direction: row;
    gap: 5px;
    text-align: start;
}

.downloadAppAdvantages p {
    font-family: var(--second-family);
    font-size: 20.335px;
    font-style: normal;
    font-weight: 400;
    line-height: 30.502px;
}

.downloadButton{
    max-width: 186px;
    height: 63px;
    border-radius: 14.675px;
    background: var(--purple-color-main);
    border: none;
    cursor: pointer;
    transition: all 0.2s ease;
}

.downloadButton:hover{
    transform: scale(1.05);
}

.downloadButtonTextFlex {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.downloadButtonTextFlex p {
    color: var(--white-color);
    text-align: center;
    font-family: var(--font-family);
    font-size: 18.062px;
    font-style: normal;
    font-weight: 500;
    line-height: 22.577px;
}

.vectorToDownloadButton {
    position: absolute;
    bottom: 6%;
    right: 18%;
}

.ourTopRestaurants {
    width: 1248.9px;
    height: 641px;
    margin: 0 auto;
    padding-top: 100px;
}

.ourTopRestaurantsFlex {
    display: flex;
    flex-direction: column;
    gap: 66px;
}

.ourTopRestaurantsFlex h3{
    text-align: center;
    color: var(--purple-color-superdark);
    font-family: var(--font-family);
    font-size: 45px;
    font-style: normal;
    font-weight: 600;
    line-height: 25.558px;
    padding-bottom: 20px;
}

.restaurantGrid {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 30px;
}

.restaurant {
    width: 396.0px;
    height: 297.6px;
    background-color: var(--super-white-color);
    border-radius: 30.023px;
    border: 1.251px solid #F4F4F6;
    box-shadow: 5.946px 71.348px 35.674px 0 rgba(229, 229, 229, 0.70);
    position: relative;
    cursor: pointer;
    transition: all 0.2s ease;
}

.restaurant:hover{
    transform: scale(1.05);
}

.restaurantText {
    display: flex;
    flex-direction: column;
    margin-left: 34px;
    align-items: start;
    margin-top: 11px;
}

.restaurant h4 {
    color: var(--purple-color-superdark);
    font-family: var(--font-family);
    font-size: 25.786px;
    font-style: normal;
    font-weight: 600;
    line-height: 41.903px;
}

.restaurant img {
    border-radius: 30.023px 30.023px 0 0;
}

.highlightRestaurant1 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 65.9px;
    height: 24.8px;
    border-radius: 5.4px;
    background: var(--color-light-yellow);
}

.highlightRestaurant1 p {
    flex-shrink: 0;
    color: var(--color-dark-yellow);
    font-family: var(--font-family);
    font-size: 12.776px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.highlightRestaurant2 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 65.9px;
    height: 24.8px;
    border-radius: 5.4px;
    background: var(--color-light-red);
}

.highlightRestaurant2 p {
    flex-shrink: 0;
    color: var(--color-dark-red);
    font-family: var(--font-family);
    font-size: 12.776px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.infoRestaurant {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0;
    gap: 6.5px;
}

.infoRestaurant p {
    color: #8E97A6;
    font-family: var(--third-family);
    font-size: 19.34px;
    font-style: normal;
    font-weight: 400;
    line-height: 25.786px;
}

.bookmark {
    position: absolute;
    bottom: 5%;
    right: 6%;
}

.viewAllRestaurants {
    display: flex;
    justify-content: right;
}

.viewAllRestaurantsFlex {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    transition: all 0.2s ease;
}

.viewAllRestaurantsFlex:hover {
    transform: scale(1.05);
}

.viewAllRestaurants p {
    color: #ACADB9;
    font-family: var(--font-family);
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 45.184px;
    letter-spacing: -0.1px;
    margin: 0;
}

.ourTopDishes {
    width: 1247.0px;
    height: 725.0px;
    margin: 0 auto;
    padding-top: 100px;
}

.ourTopDishesFlex  {
    display: flex;
    flex-direction: column;
    gap: 65px;
}

.ourTopDishesFlex h3{
    color: var(--purple-color-superdark);
    font-family: var(--font-family);
    font-size: 45px;
    font-style: normal;
    font-weight: 600;
    line-height: 25.558px;
    padding-bottom: 10px;
    text-align: center
}

.dishesList {
    width: 1246.0px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 30px;
}

.dishes {
    max-width: 224.6px;
    height: 390.4px;
    border-radius: 34.581px;
    border: 1.441px solid #F4F4F6;
    background: var(--super-white-color);
    box-shadow: 6.848px 82.181px 41.091px 0 rgba(229, 229, 229, 0.70);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

.dishes h4 {
    color: var(--purple-color-superdark);
    font-family: var(--font-family);
    font-size: 23.054px;
    font-style: normal;
    font-weight: 600;
    line-height: 37.463px;
}

.dishesFlex {
    display: flex;
    flex-direction: column;
}

.dishesText {
    display: flex;
    flex-direction: column;
    justify-items: start;
    width: 178.7px;
    margin-left: 15px;
}

.highlightDishes1 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 58.9px;
    height: 22.2px;
    border-radius: 4.828px;
    background: var(--color-light-yellow);
}

.highlightDishes1 p{
    color: var(--color-dark-yellow);
    font-family: var(--font-family);
    font-size: 11.422px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}


.highlightDishes2 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 58.9px;
    height: 22.2px;
    border-radius: 4.828px;
    background: var(--color-light-red);
}

.highlightDishes2 p{
    color: var(--color-dark-red);
    font-family: var(--font-family);
    font-size: 11.422px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.highlightDishes3 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 58.9px;
    height: 22.2px;
    border-radius: 4.828px;
    background-color: var(--color-light-green);

}

.highlightDishes3 p {
    color: var(--color-dark-green);
    font-family: var(--font-family);
    font-size: 11.422px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    z-index: 10;
}

.infoDishes {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0;
    gap: 1.5px;
}

.infoDishes p {
    color: #8E97A6;
    font-family: var(--third-family);
    font-size: 17.291px;
    font-style: normal;
    font-weight: 400;
    line-height: 23.054px;
}

.costDishes {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 60px;
}

.costDishes p {
    color: var(--purple-color-superdark);
    font-family: var(--third-family);
    font-size: 25.94px;
    font-style: normal;
    font-weight: 700;
    line-height: 40.345px;
}

.heartIcon{
    position: absolute;
    right: 8%;
    top: 4%;
    cursor: pointer;
}

.heartIcon path {
    fill: var(--purple-color-superdark);
}

.viewAllDishes {
    display: flex;
    justify-content: right;
}

.viewAllDishesFlex {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    transition: all 0.2s ease;
}

.viewAllDishesFlex:hover {
    transform: scale(1.05);
}

.viewAllDishes p {
    color: #ACADB9;
    font-family: var(--font-family);
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 45.184px;
    letter-spacing: -0.1px;
    margin: 0;
}

.costDishesButton {
    transition: all 0.2s ease;
}

.costDishesButton:hover {
    transform: scale(1.05);
}

.purchasesControl {
    max-width: 1250.0px;
    height: 601.0px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 140px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.purchasesFlex {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.purchasesTextFlex  {
    display: flex;
    flex-direction: column;
    gap: 48px;
    width: 570.7px;
    height: 460.0px;

}

.purchasesTextFlex h3 {
    color: var(--color-light-black);
    font-family: var(--font-family);
    font-size: 50.923px;
    font-style: normal;
    font-weight: 700;
    line-height: 58.198px;
}

.purchasesMenuList {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.purchasesMenuItem {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 217.3px;
    height: 80.1px;
    gap: 20px;
    position: relative;
    width: 345.2px;
    height: 88.3px;
    flex-shrink: 0;
    border-radius: 12.041px;
    background: var(--super-white-color);
    box-shadow: 0 20.068px 30.102px 0 rgba(70, 70, 70, 0.10);
}

.purchasesMenuItem img {
    padding-left: 20px;
}

.purchasesMenuItemColumn {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.purchasesMenuItemColumn h4{
    color: var(--purple-color-superdark);
    font-family: var(--font-family);
    font-size: 19.065px;
    font-style: normal;
    font-weight: 600;
    line-height: 140%;
}

.purchasesMenuItemColumn h5 {
    color: var(--purple-color-superdark);
    font-family: var(--font-family);
    font-size: 12.041px;
    font-style: normal;
    font-weight: 500;
    line-height: 140%;
}

.menuDate {
    position: absolute;
    right: 5%;
    bottom: 10%;
    color: var(--color-light-gray);
    font-family: var(--font-family);
    font-size: 13.044px;
    font-style: normal;
    font-weight: 500;
    line-height: 140%;
}

.purchasesDashboard {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 534.0px;
    height: 466.5px;
    border-radius: 25.129px;
    border: 1.571px solid  #EDF2F7;
    background: var(--super-white-color);
    box-shadow: 0 20.068px 30.102px 0 rgba(70, 70, 70, 0.10);
}

.dashboardFlex {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}

.dashboardTextAndDate {
    display: flex;
    flex-direction: row;
    gap: 130px;
    align-items: center;
}

.dashboardTextAndDate h4{
    color: var(--purple-color-superdark);
    font-family: var(--third-family);
    font-size: 28.271px;
    font-style: normal;
    font-weight: 800;
    line-height: 135%;
}

.dashboardTextAndDate p{
    color: var(--purple-color-superdark);
    text-align: right;
    font-family: var(--third-family);
    font-size: 18.847px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
}

.dateBox {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 25px;
    padding: 12.565px 18.847px;
    justify-content: center;
    border-radius: 12.565px;
    background: var(--white-color);
    border: none;
    cursor: pointer;
}

.dashboardCard {
    display: flex;
    flex-direction: column;
    width: 458.6px;
    height: 135.1px;
    border-radius: 18.847px;
    border: 1.571px solid  #EDF2F7;
    justify-content: center;
}

.dashboardColumn {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 21px;
}

.dashboardCardFlex {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
}

.dashboardCardFlex h5{
    color: var(--purple-color-superdark);
    text-align: right;
    font-family: var(--third-family);
    font-size: 21.988px;
    font-style: normal;
    font-weight: 800;
    line-height: 150%;
    letter-spacing: 0.314px;

}

.expenceColumn {
    width: 241.0px;
    height: 55.1px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.expenceColumn h4 {
    color: var(--purple-color-superdark);
    font-family: var(--third-family);
    font-size: 18.847px;
    font-style: normal;
    font-weight: 800;
    line-height: 150%;
}

.expenceColumn p {
    color: var(--color-light-gray);
    font-family: var(--third-family);
    font-size: 15.706px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
}

.dashboardLinePurpleBack {
    position: relative;
    width: 408.4px;
    height: 9.4px;
    border-radius: 78.529px;
    background: var(--purple-color-light);
    z-index: 1;
}

.dashboardLinePurple {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 10;
    width: 296.8px;
    height: 9.4px;
    border-radius: 78.529px;
    background: var(--purple-color-main);
    animation: fillLinePurple 1.5s ease-out forwards;
}


.dashboardLineYellowBack {
    position: relative;
    width: 408.4px;
    height: 9.4px;
    border-radius: 78.529px;
    background: var(--color-light-yellow);
    z-index: 1;
}

.dashboardLineYellow {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 10;
    width: 296.8px;
    height: 9.4px;
    border-radius: 78.529px;
    background: var(--color-dark-yellow);
    animation: fillLineYellow 1.5s ease-out forwards;
}


@keyframes fillLinePurple {
    from {
        width: 0;
    }
    to {
        width: 75%;
    }
}

@keyframes fillLineYellow {
    from {
        width: 0;
    }
    to {
        width: 50%;
    }
}

.customerSay {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    margin-top: 100px;
    position: relative;
}

.customerSayColumn {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 80px;
    max-width: 1356.0px;
    height: 487.0px;
}

.customerSayColumn h3{
    color: var(--purple-color-superdark);
    font-family: var(--font-family);
    font-size: 45px;
    font-style: normal;
    font-weight: 600;
    line-height: 25.558px;
}

.customerSayRow {
    display: flex;
    flex-direction: row;
    gap: 46px;
}

.firstReview {
    display: flex;
    width: 528.0px;
    height: 346.0px;
    background-color: var(--super-white-color);
    border-radius: 25.129px;
    justify-content: center;
    align-items: center;
    box-shadow: 0 20.068px 30.102px 0 rgba(70, 70, 70, 0.10);
}

.firstReviewContainer {
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 442px;
    height: 270px;
    gap: 35px;
}

.reviewInfo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 21px;
    align-items: center;
}

.reviewInfoText {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 264px;
    height: 60px;
}

.reviewInfoText h4 {
    color: var(--purple-color-superdark);
    font-family: var(--font-family);
    font-size: 20.893px;
    font-style: normal;
    font-weight: 500;
    line-height: 31.34px;
}

.reviewInfoText p {
    color: var(--color-gray);
    font-family: var(--font5);
    font-size: 16.715px;
    font-style: normal;
    font-weight: 500;
    line-height: 26.117px;
}


.reviewCitata {
}

.reviewCitata p{
    color: var(--color-gray);
    text-align: justify;
    font-family: var(--font-family);
    font-size: 18px;
    font-style: italic;
    font-weight: 400;
    line-height: 26.117px;
}

.reviewRating {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5.75px;
}

.anotherReviews {
    width: 782px;
    display: flex;
    justify-content: start;
    overflow: hidden;
    max-width: 200%;
}

.anotherReviewsBlock{
    display: flex;
    justify-content: center;
    align-items: center;
}

.anotherReviewsContainer {
    display: flex;
    flex-direction: column;
    gap: 88px;
}

.anotherReviewBlock {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 46px;
    transform: translateX(0%);
    transition: transform 0s ease;
}

.reviewRating {
    width: 442px;
    display: flex;
    justify-content: start;
}

.anotherReviewBlockRows {
    display: flex;
    flex-direction: row;
}

.anotherReviewBlockColumns {
    display: flex;
    flex-direction: column;
    gap: 32px;
    background-color: var(--super-white-color);
    width: 528.0px;
    height: 239.0px;
    border-radius: 25.129px;
    justify-content: center;
    align-items: center;
}

.anotherReviewBlockColumns2 {
    display: flex;
    flex-direction: column;
    gap: 32px;
    background-color: var(--super-white-color);
    width: 528.0px;
    height: 239.0px;
    border-radius: 25.129px;
    justify-content: center;
    align-items: center;
}

.anotherReviewBlockColumns3 {
    display: flex;
    flex-direction: column;
    gap: 32px;
    background-color: var(--super-white-color);
    width: 528.0px;
    height: 239.0px;
    border-radius: 25.129px;
    justify-content: center;
    align-items: center;
}

.anotherReviewBlockColumns4 {
    display: flex;
    flex-direction: column;
    gap: 32px;
    background-color: var(--super-white-color);
    width: 528.0px;
    height: 239.0px;
    border-radius: 25.129px;
    justify-content: center;
    align-items: center;
}

.sliderLineBack {
    position: relative;
    width: 667.0px;
    height: 11.0px;
    border-radius: 50px;
    background: var(--purple-color-light);
}

.sliderLine {
    position: absolute;
    left: 0;
    top: 0;
    width: 50px;
    height: 11.0px;
    border-radius: 50px;
    background: var(--purple-color-main);
    z-index: 1;
    transform: translateX(0%);
    transition: transform 0s ease;
    cursor: grab;
}

.subscribe {
    max-width: 1214px;
    width: 100%;
    height: 340px;
    margin: 150px auto 150px auto;
    position: relative;
}

.foodImageSubscribe {
    position: absolute;
    right: 5%;
    bottom: 0;
}

.subscribeToSaleBlock {
    display: flex;
    max-width: 1214px;
    width: 100%;
    height: 280px;
    margin: 0 auto;
    align-items: center;
    background-image: url("/images/subscribeToSaleBG.svg");
}

.subscribeColumn {
    display: flex;
    flex-direction: column;
    margin-left: 66px;
}

.subscribeText h3 {
    color: var(--white-color);
    font-family: var(--font-family);
    font-size: 70px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.subscribeInputAndButton {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 5px;
    width: 439.7px;
    height: 68.0px;
    border-radius: 14.234px;
    background: var(--white-color);
    box-shadow: 0 7.253px 45.333px 0 rgba(0, 0, 0, 0.10);
}

.subscribeInputAndButton input {
    width: 273px;
    height: 24px;
    color: var(--color-gray);
    font-family: var(--font-family);
    font-size: 16.268px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.488px;
    border: none;
    background: none;
    outline:none;
}

.subscribeInputAndButton button {
    width: 132.4px;
    height: 53.4px;
    border-radius: 11.253px;
    background: var(--purple-color-main);
    border: none;
    transition: all 0.2s ease;
}

.subscribeInputAndButton button:hover{
    transform: scale(1.05);
}

.subscribeInputAndButton button p{
    color: var(--white-color);
    font-family: var(--font-family);
    font-size: 14.752px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.443px;
}


