.mainGrid {
    height: 607px;
    display: grid;
    grid-template-columns: 568px 680px ;
    justify-content: center;
    margin: 0 auto;
    padding-top: 49px;
    align-items: center;
}

.mainFlex {
    display: flex;
    flex-direction: column;
    width: 568.0px;
    height: 492.0px;
    justify-content: center;
    padding-right: 37px;
}

.mainFlex h1 {
    color: var(--color-light-black);
    font-family: var(--font-family);
    font-size: 75px;
    font-style: normal;
    font-weight: 600;
    line-height: 120%;
    letter-spacing: -3px;
    margin-top: 18px;
    margin-bottom: 16px;
}

.mainFlex p {
    color: var(--color-gray);
    font-family: var(--second-family);
    text-align: justify;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 28px;
    opacity: 0.7;
    margin-bottom: 53px;
}

.mainImg {
    position: relative;
}

.mainChickenHell {
    position: absolute;
    z-index: 2;
    top: 6%;
    right: 3%;
    filter: drop-shadow(-9.844px 12.305px 20.508px rgba(0, 0, 0, 0.15));

}

.mainGraph {
    position: absolute;
    z-index: 1;
    bottom: 8%;
    left: 5%;
    filter: drop-shadow(13.407px -16.759px 27.932px rgba(0, 0, 0, 0.15));

}

.usersCount {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}

.usersCount p {
    margin: 0;
    color: var(--color-dark-gray);
    opacity: 0.4;
    font-family: var(--font-family);
    font-size: 15px;
    font-style: normal;
    font-weight: 600;
    line-height: 120%;
}

.mainLine {
    width: 54.0px;
    height: 1px;
    opacity: 0.2;
    background: #201F1F;
}

.mainButtons {
    display: flex;
    flex-direction: row;
    gap: 18px;
}

.getStartedButton {
    width: 156.0px;
    height: 59.0px;
    border-radius: 12.412px;
    background: var(--purple-color-main);
    border: none;
    cursor: pointer;
    transition: all 0.2s ease;
    will-change: transform;
}

.getStartedButton:hover {
    transform: scale(1.05);
}

.getStartedButtonLink {
    color: var(--white-color);
    font-family: var(--font-family);
    font-size: 16.271px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.163px;
    text-transform: capitalize;
}

.goProButton {
    width: 110.0px;
    height: 59.0px;
    background-color: var(--white-color);
    border: 1.5px solid var(--purple-color-main);
    border-radius: 12.412px;
    cursor: pointer;
    transition: all 0.2s ease;
    will-change: transform;
}

.goProButton:hover {
    transform: scale(1.05);
}

.goProButtonLink {
    color: var(--purple-color-main);
    font-family: var(--font-family);
    font-size: 16.271px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.163px;
}

.trustPilotStars {
    width: 301.0px;
    height: 31.0px;
    padding-top: 33px;
    display: flex;
    flex-direction: row;
    align-items: end;
    gap: 9px;
}

.trustPilotStars p{
    margin: 0;
    color: var(--color-blue-gray);
    font-family: var(--font6);
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    opacity: 0.7;
}

.stars {
    padding-bottom: 4px;
}
