@import url("fonts.css");
@import url("normaliz.css");
@import url("header.css");
@import url("indexMain.css");

:root {
    --font-family: "Poppins", sans-serif;
    --second-family: "Inter", sans-serif;
    --third-family: "Manrope", sans-serif;
    --font3: "Roboto", sans-serif;
    --font4: "Public Sans", sans-serif;
    --font5: "Quicksand", sans-serif;
    --font6: "Plus Jakarta Sans", sans-serif;

    --purple-color-main: #6C5FBC;
    --purple-color-dark: #5C4EAE;
    --white-color: #F9F9F9;
    --color-dark-gray: #606060;
    --color-light-gray: #CBCBCB;
    --color-light-black: #201F1F;
    --color-gray: #676767;
    --color-blue-gray: #334155;
}

.container {
}

body {
    background-color: var(--white-color);
}
