@import url("fonts.css");
@import url("normaliz.css");
@import url("header.css");
@import url("home.css");
@import url("footer.css");

:root {
    --font-family: "Poppins", sans-serif;
    --second-family: "Inter", sans-serif;
    --third-family: "Manrope", sans-serif;
    --font3: "Roboto", sans-serif;
    --font4: "Public Sans", sans-serif;
    --font5: "Quicksand", sans-serif;
    --font6: "Plus Jakarta Sans", sans-serif;

    --footer-background-color: #EAEAEA;
    --purple-color-main: #6C5FBC;
    --purple-color-dark: #5C4EAE;
    --purple-color-superdark: #323142;
    --purple-color-light: #C5BFED;
    --white-color: #F9F9F9;
    --super-white-color: #FFF;
    --color-dark-gray: #606060;
    --color-light-gray: #CBCBCB;
    --color-super-light-gray: #C5C5C5;
    --color-light-black: #201F1F;
    --color-gray: #676767;
    --color-blue-gray: #334155;
    --color-light-yellow: #F7EDD0;
    --color-dark-yellow: #DAA31A;
    --color-light-red: #F7C5BA;
    --color-dark-red: #FB471D;
    --color-light-green: #33AC6420;
    --color-dark-green: #309D5B;
}

.container {
}

body {
    background-color: var(--white-color);
}
